@page
@model Code.Pages.GradeModel
@{
    ViewData["Title"] = @Model.Grade.Name;
}
@section Scripts  { 
    <script>
        console.log("Grade Page");
    </script>
}

<a asp-page="Index">Back</a>
<h2>@Model.Grade.Name</h2>
<h4>@Model.Grade.AltName</h4>