@page
@model Code.Pages.GradesModel
@{
    ViewData["Title"] = "Grades";
}
@section Scripts {
<script>
    console.log("Grades Page");
</script>
}

<h2>Grades</h2>

@if (Model.Grades != null && Model.Grades.Count() > 0)
{
    @foreach (var grade in Model.Grades)
    {
        <p><a asp-page="Grade" asp-route-id="@grade.Id">@grade.Name</a></p>
    }
}
else
{
    <p>No grades could be found!</p>
}

