@page
@model Code.Pages.GradeModel
@{
    ViewData["Title"] = "Grade";
}
@section Scripts {
<script>
    console.log("Grade Page");
</script>
}

@if(Model.Grade != null)
{
    <h2>@Model.Grade.Name</h2>
    <h5>@Model.Grade.AltName</h5>
    <p><a asp-page="Grades">Back to Grades</a></p>
}
else
{
    <h2>Not Found!</h2>
    <p>The grade you where looking for could not be found.</p>
    <p><a asp-page="Grades">Back to Grades</a></p>
}

