@page
@model Code.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
@section Scripts {
<script>
    console.log("Home Page");
</script>
}
<h2>Home</h2>
<form method="post">
    <div><label>Message:</label></div>
    <div><textarea asp-for="Message"></textarea></div>
    @if (!Model.IsMessageValid)
    {
        <p>Invalid Message!</p>
    }
    <button type="submit">Submit</button>
    @if (Model.ShowMessageSubmitted)
    {
        <p>Message Submitted!</p>
    }
</form>