@page
@model Code.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
@section Scripts  { 
    <script>
        console.log("Index Page");
    </script>
}

<h2>Index</h2>

@if(Model.LatestArticle != null)
{
    <h4>@Model.LatestArticle.Title</h4>
    <p>@Model.LatestArticle.Body</p>
}

