@page
@{
    ViewData["Title"] = "404";
}
@section Scripts  { 
    <script>
        console.log("404 Page");
    </script>
}

<h2>Not Found!</h2>
<p>Oops, looks like the page you requested could not be found :(</p>