@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
@section Scripts  { 
    <script>
        console.log("Index Page");
    </script>
}

<h2>Index</h2>

@if(Model.Grades != null && Model.Grades.Count() > 0)
{
    @foreach (var grade in Model.Grades)
    {
        <p>@grade.Name <br/><small>@grade.AltName</small></p>
    }
}